html {
  font-size: 62.5%;
  font-family: "rob";
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #777777;
}

body {
  background-color: #fff;
  padding: 5rem;
}

.container {
  background-color: #f7f7f7;
  position: relative;
  z-index: 0;
}

@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@font-face {
  font-family: "rob";
  src: url("../fonts/Roboto-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "rob";
  src: url("../fonts/Roboto-Light.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "rob";
  src: url("../fonts/Roboto-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
.title-first {
  color: #fff;
}
.title-first__main {
  display: block;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation-name: rightToLeft;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.title-secondary {
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, #a14f03 99.94%);
  background-clip: text;
  color: transparent;
  transition: all 0.4s;
}
.title-secondary_white {
  color: white;
}
.title-secondary:hover {
  transform: scale(1.1);
}

.title-third {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.adventure-card {
  padding: 2.6rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  text-align: center;
  transition: transform 0.4s;
}
.adventure-card:hover {
  transform: translateY(-1rem);
}
.adventure-card__icon {
  display: inline-block;
  font-size: 6.3rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, #a14f03 99.94%);
  background-clip: text;
  color: transparent;
}

.bg-video {
  position: absolute;
  z-index: -20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-gradient {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
}

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #777777;
  padding: 1.5rem 4rem;
  font-size: 2rem;
  background-color: #fff;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(255, 255, 255, 0.5);
}
.btn:hover {
  transform: translateY(-4px);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.9);
}
.btn:active {
  transform: translateY(-2px);
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: inline-block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  transition: all 0.5s;
}
.btn_animated {
  animation-name: BtnToUp;
  animation-duration: 1s;
  animation-delay: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

.btn-text {
  display: inline-block;
}
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #ba8554;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #ba8554;
}
.btn-text:hover {
  background-color: #ba8554;
  color: #fff;
  transform: translateY(0.2rem);
}
.btn-text:active {
  transform: translateY(0.1rem);
}

.composition {
  position: relative;
}
.composition__photo {
  position: absolute;
  width: 55%;
  transition: all 0.2s;
  outline-offset: 1rem;
}
.composition__photo_n1 {
  top: 0;
  left: 0;
}
.composition__photo_n2 {
  top: 2rem;
  right: 0;
}
.composition__photo_n3 {
  top: 13rem;
  left: 10rem;
}
.composition__photo:hover {
  transform: scale(1.05);
  z-index: 20;
  outline: 1rem solid #ba8554;
}
.composition:hover :not(:hover) {
  transform: scale(0.95);
}

.feedBack-card {
  width: 75%;
  background: rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  padding: 6rem 18rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  transform: translateX(-3%);
}
.feedBack-card__img {
  position: relative;
  margin-right: 4rem;
  float: left;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  shape-outside: circle(50% at 50% 50%);
  overflow: hidden;
}
.feedBack-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: all 0.7s;
}
.feedBack-card__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 2.2rem;
  color: white;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.7s;
}
.feedBack-card:hover .feedBack-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedBack-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(80%);
}

.card-tour {
  height: 50rem;
  perspective: 200rem;
  position: relative;
}
.card-tour__side {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 50rem;
  width: 100%;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.card-tour__side_front {
  background-color: white;
}
.card-tour__side_back {
  background: linear-gradient(135deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  transform: rotateY(180deg);
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0deg);
}
.card-tour__img {
  background-blend-mode: hard-light;
  height: 21rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  margin-bottom: 4.5rem;
}
.card-tour__img_1 {
  background: #ba8554 url("../img/tour-1.jpg") center/cover;
}
.card-tour__img_2 {
  background: #ba8554 url("../img/tour-2.jpg") center/cover;
}
.card-tour__img_3 {
  background: #ba8554 url("../img/tour-3.jpg") center/cover;
}
.card-tour__title {
  position: absolute;
  top: 17.7rem;
  right: 0;
  color: white;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
}
.card-tour__span {
  padding: 1rem 2rem;
  background: linear-gradient(120deg, rgb(186, 133, 84) 0.03%, #a14f03);
}
.card-tour__span_1 {
  padding-bottom: 0.4rem;
}
.card-tour__span_2 {
  position: absolute;
  top: 3rem;
  right: 0;
}
.card-tour__descr ul {
  text-align: center;
}
.card-tour__descr ul li {
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
}
.card-tour__descr ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.card-tour__descr ul li::after {
  display: inline;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #777777;
}
.card-tour__backSide-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-tour__text {
  margin-bottom: 8.7rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.card-tour__text_1 {
  font-size: 1.6rem;
  font-weight: 300;
}
.card-tour__text_2 {
  font-weight: 500;
  font-size: 6rem;
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}

.col-2-of-3 {
  width: calc((100% - 6rem * 2) / 3 * 2 + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4);
}

.col-2-of-4 {
  width: calc((100% - 6rem * 3) / 4 * 2 + 6rem);
}

.col-3-of-4 {
  width: calc((100% - 6rem * 3) / 4 * 3 + 6rem * 2);
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url("../img/balloon.jpg") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
}
.header__logo {
  width: 5rem;
  height: 7rem;
  position: absolute;
  top: 5rem;
  left: 5rem;
}
.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.section-about {
  padding-top: 8rem;
  margin-bottom: 5rem;
}

.section-adventure {
  padding-top: 21.6rem;
  padding-bottom: 21.6rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%), url("../img/section-adventure.jpg") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
}

.section-tour {
  padding: 8rem;
  margin-bottom: 8rem;
}

.section-feedBack {
  margin-top: 8rem;
  position: relative;
  padding: 8rem 0;
}/*# sourceMappingURL=style.css.map */